<f:comment>
The following objects are available in the Fluid template:
	- settings: an object providing all the properties of the plugin settings;
	- puzzle: an array of properties of the puzzle.
</f:comment>
<f:if condition="{puzzle.imageNotFound}">
	<f:then>
		<p><f:translate key="image_not_found" /></p>
	</f:then>
	<f:else>
		<div id="tx-srpuzzle" class="tx-srpuzzle">
			<f:render partial="PuzzleScript" arguments="{puzzle: puzzle, settings: settings}" />
			<div class="tx-srpuzzle-instructions" style="width:{settings.solutionWidth}px; height:{puzzle.totalHeight}px;">
				<f:image src="{puzzle.image}" title="{puzzle.solutionImageTitle}" alt="{puzzle.solutionImageAlternateText}" width="{settings.solutionWidth}" height="{settings.solutionHeight}" />
				<p><f:translate key="puzzle_instructions" /></p>
			</div>
		</div>
	</f:else>
</f:if>
